<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="SQLDB_ATOS" connectionString="Data Source=172.16.33.233;Initial Catalog=MySepration;User ID=ITAPADMIN;Password=!t4p#2020;" providerName="System.Data.SqlClient" />
    <add name="SQLDB_EVIDEN" connectionString="Data Source=10.228.0.81;Initial Catalog=ESeparation;User ID=ITAPSA;Password=17A9D8A_2023;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="testEmail" value="1" />
    <add key="testEmailID" value="shraddha.pawar@atos.net" />
    <add key="testEmailIDCC" value="shraddha.pawar@atos.net" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>